.dialog-header {
    background-color: #121212;
    color: white;
    display: flex;
    direction: rtl;
    justify-content: space-between;
    margin: -24px -24px 24px -24px;
    padding: 13px;
    position: sticky;
    top: -24px;
    z-index: 999;

    .title {
        font-size: large;
        margin: auto 0;
        text-align: right;
    }

    .close-btn {
        cursor: pointer;
    }
}

.dialog-container {
    display: flex;
    flex-direction: column;
}

form {
    .form-field {
        margin: 7px;
    }
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
}

.statements {
    margin: 7px;
    text-align: right;
}

.mat-checkbox-wrap-text {
    white-space: normal;
}

.bottom-message {
    margin: 10px;
    margin-right: 0;
   

    .bold {
        font-weight: bold;
        font-size: medium;
    }
}

.student-container {
    margin-top: 25px;
}