.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

.submit-btn {
    margin-top: 25px;
    margin-bottom: 10px;
}

.sign-in {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}