<div dir="rtl" class="dialog-container">
    <div class="dialog-header">בדיקת סטטוס</div>
    <form dir="rtl" [formGroup]='checkStatusFrom' (ngSubmit)='onSubmit()'>

        <div>נא להזין את הפרטים כדי לקבל את סטטוס הבקשה</div>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>מספר זהות</mat-label>
            <input matInput placeholder="" formControlName="ssn">
            <mat-error *ngIf='CSsn.errors'>נא להזין מספר זהות תקין עם 9 ספרות, אם מספר הזהות קצר יותר יש להוסיף 0-ים בתחילת המספר</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>מזהה בקשה</mat-label>
            <input matInput placeholder="" formControlName="needyId">
            <mat-hint>מספר הזיהוי של הבקשה שנמסר בעת הרישום</mat-hint>
            <mat-error *ngIf='CNeedyId.errors'>נא להזין מזהה</mat-error>
        </mat-form-field>

        <div class="dialog-footer">
            <button mat-button [disabled]="!checkStatusFrom.valid" color="primary" type="submit">בדיקה</button>
        </div>
    </form>
</div>