.header-container {
    height: 93px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-line {
    background-color: #000834;;
    width: 100%;
    height: 73%;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.heder-section {
    img {
        height: 80px;
        border-radius: 50%;
        border: 5px solid #000834;
        margin-right: 16px;
        background: azure;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.system-name {
    font-size: 25px;
    line-height: 65px;
    margin-right: 20px;
}

.user-info {
    margin: 22px;
    font-size: 17px;
}

.sign-out-btn {
    margin: 12px;
    cursor: pointer;
}
