$margin-horizontal: 3vw;


html,
body {
    height: 100%;
    direction: rtl;
}
body {
    margin: 0;
    font-family: Assistant;
    background-color: #fafaff;
}

* {
    font-family: Assistant;
}

@font-face {
    font-family: Assistant;
    src: url(assets/Assistant/Assistant-Regular.ttf);
}

@font-face {
    font-family: Assistant;
    src: url(assets/Assistant/Assistant-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Assistant;
    src: url(assets/Assistant/Assistant-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Assistant;
    src: url(assets/Assistant/Assistant-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: Assistant;
    src: url(assets/Assistant/Assistant-SemiBold.ttf);
    font-weight: bolder;
}

::-webkit-scrollbar {
    /* width */
    width: 8px;
}

::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: rgb(110, 110, 110);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: rgb(110, 110, 110);
}

::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: rgb(243, 243, 243);
}