.dialog-header {
    background-color: #121212;
    color: white;
    display: flex;
    direction: rtl;
    justify-content: space-between;
    margin: -24px -24px 24px -24px;
    padding: 13px;
    position: sticky;
    top: -24px;
    z-index: 999;

    .title {
        font-size: large;
        margin: auto 0;
        text-align: right;
    }

    .close-btn {
        cursor: pointer;
    }
}

.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        direction: rtl;
    }

    button {
        margin-top: 12px;
    }
}

.warning {
    color: red;
}