.loader-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.progress-bar {
    &.mat-progress-bar {
    }
  
    .mat-progress-bar-fill::after {
      background-color: #454963;
    }
  
    .mat-progress-bar-buffer {
      background-color: #000834;
    }
  }